body {
  background-image: url(../src/assets/andromeda-galaxy-m31-2021-08-26-17-00-34-utc.jpg);
}

.App{

align-content: center;
text-align: center;
}

.title {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  align-content: center;

  text-align: center;
  font-size: 4rem;
}

.inputSearch {
  width: 50vw;
}

.form-control {
  border-radius: 20px;
}

.titulo {
  height: 2rem;
  color: aliceblue;
}

.encabezado {
  width: 30vw;
}

.tarjeta {
  text-align: center;
  align-items: center;
  border-style: double;
  border-color: aliceblue;
}
